<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to ":Artisto", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Current Location",   '#' %></li>
            <li><%= link_to "Advice", '#' %></li>
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
            
            <li><%= link_to "Register", '#' %></li></li>
          </ul>
        </nav>
      </div>
    </header>
    